*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('services-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: beige;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
}
.title{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .5rem;
    text-shadow: 2px 2px 2px gray;
}
.clock{
    width: 750px;
    position: relative;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: .7;
}
.hours, .minutes,.secondes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clock .number{
    font-size: 4rem;
    background-color: slateblue;
    padding: 1rem 3rem;
}
.clock .text{
    text-align: center;
    background-color: indigo;
    padding: 1rem;
    width: 160px;
}
.clock .ampm{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem 1rem;
    border-radius: .5rem;
    background-color: green;
    opacity: .7;
}