*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('services-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
}